<app-alert></app-alert>
<nav class="navbar bg-primary">
  <h1>
    <a [routerLink]="['/']">Angular Admin</a>
  </h1>
  <ul>
    <li routerLinkActive="active">
      <a [routerLink]="['/', 'home']" i18n>Головна</a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['/', 'create']" i18n>Створити</a>
    </li>
    <li>
      <select [ngModel]="selectedValue | titlecase" class="btn btn-link btn-dark" (change)="onChange($event)" >
        <option *ngFor="let l of locales" [ngValue]="l.code">{{l.code | titlecase}}</option>
      </select>
    </li>
 <!--   <li *ngFor="let locale of locales">
      <a [href]="'/' + locale.code + '/'">{{ locale.code }}</a>
    </li>-->

  </ul>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>

