<app-alert></app-alert>
<nav class="navbar bg-primary">
  <h1>
    <a [routerLink]="['/']">Angular Admin</a>
  </h1>
  <ul>
    <li routerLinkActive="active">
      <a [routerLink]="['/', 'home']" i18n>Головна</a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['/', 'create']" i18n>Створити</a>
    </li>
    <li>
      <select class="btn btn-link btn-dark" (change)="onChange($event.target.value)">
        <option [defaultSelected]="selectedValue.code" selected disabled hidden>
          {{selectedValue.text}}
        </option>
        <ng-container *ngFor="let l of locales">
          <option *ngIf="selectedValue.code != l.code" [value]="l.code" >{{l.text}}</option>
        </ng-container>
      </select>
    </li>
  </ul>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>

