<form [formGroup]="form" (ngSubmit)="submit()">
  <h1>Створення нового поста</h1>

  <div
    [ngClass]="{invalid: form.get('title').touched && form.get('title').invalid}"
  >
    <label for="title">Назва поста:</label>
    <input id="title" type="text" formControlName="title">
    <div
      *ngIf="form.get('title').touched && form.get('title').invalid"
      class="validation"
    >
      <small *ngIf="form.get('title').errors.required">
        Введіть назву поста...
      </small>
    </div>
  </div>

  <div>
    <label>Контент поста:</label>
    <quill-editor formControlName="text"></quill-editor>
  </div>

  <div class="navbar">
    <button
      type="submit"
      class="btn  btn-dark"
      [disabled]="form.invalid || submitButton"
    >Створити пост</button>

    <button
      class="btn  btn-dark"
      [routerLink]="['/home']"
    >Відміна</button>
  </div>

</form>
