 <div class="text-center">

    <table *ngIf="totalRecords" class="pagination">
      <td [ngClass]="{disabled: activePage === 1}">
        <a (click)="setPage(1)">First</a>
      </td>
      <td [ngClass]="{disabled:activePage === 1}">
        <a (click)="setPage(activePage - 1)">Previous</a>
      </td>
      <td *ngFor="let page of pages.pageArray" [ngClass]="{active:activePage === page}">
        <a (click)="setPage(page)">{{page}}</a>
      </td>
      <td [ngClass]="{disabled:activePage === pages.totalPages}">
        <a (click)="setPage(activePage+ 1)">Next</a>
      </td>
      <td [ngClass]="{disabled:activePage === pages.totalPages}">
        <a (click)="setPage(pages.totalPages)">Last</a>
      </td>
    </table>
  </div>

