<!--  <div  *ngIf="visible" class="dialog">
    <button *ngIf="closable" [routerLink]="['/home']" (click)="close()" aria-label="Close" class="dialog__close-btn">X</button>
    <router-outlet></router-outlet>
    <button *ngIf="visible" [routerLink]="['/home']" aria-label="Close" class="dialog__close-btn" (click)="close()">Закрити</button>
  </div>
  <div *ngIf="visible" class="overlay" (click)="close()"></div>-->
<div class="backdrop"></div>
<div *ngIf="visible" class="modal">
  <h1>{{title}}</h1>
  <router-outlet></router-outlet>
 <button *ngIf="visible" [routerLink]="['/home']" class="btn" (click)="close.emit()">Close</button>
</div>

