<ng-template appRef></ng-template>
<div
  *ngIf="postsService.posts.length; else loading"
  class="posts"
>
    <input type="text" placeholder="Найти пост..." [(ngModel)]="searchStr">

  <table>
    <thead>
    <tr>
      <th>#</th>
      <th>Назва</th>
      <th>Коментарі</th>
      <th>Автор</th>
      <th>Дії</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let post of postsService.posts| searchPosts:searchStr | paginate: currentPage: itemsPerPage; let idx = index;">
      <td>{{ itemsPerPage* (currentPage - 1) + idx + 1}}</td>
      <td><button
        class="btn btn-link open"
        [routerLink]="['/' , 'post', post.id]"
      >
        {{ post.title | titlecase }}
      </button>
      </td>
      <td>
        <button class="btn btn-outline-primary mb-2 mr-2"  (click)="this.open('Коментарі', ['comments', post.id])">Коментарі</button>
      </td>
      <td>
        <button class="btn btn-outline-primary mb-2 mr-2"  (click)="this.open('Дані автора', ['user', post.userId])">Автор {{post.userId}}</button>
      </td>
      <td> <a (click)="remove(post.id)">Видалити</a></td>
    </tr>
    </tbody>
  </table>

    <app-pagination class="text-center pagination" [totalRecords]= postsService.posts.length [recordsPerPage]=itemsPerPage (onPageChange)="displayActivePage($event)"></app-pagination>

</div>

<ng-template #loading>
  <p class="text-center">Загружаю пости....</p>
</ng-template>

